@CHARSET "UTF-8";
*{
	font-family:"XB Roya","B Nazanin","Tahoma";
}
body {
	margin:0px;
	padding:0px;
	background-color:#F2F2F2;
}
#body,#header {
	margin:auto;
	min-width:770px;
	width:930px;
	min-height:520px;
	margin-top:0px;
	padding:10px;
	padding-top:6px;
	-moz-border-radius:5px;
	border:2px #E7E7E7 solid;
	background-color:#FAFAFA;
}
#header{
	margin-top:0px;
	height:66px;
	overflow:hidden;
	min-height:0;
	-moz-border-radius:5px 5px 0px 0px;
}
.Footer
{
	font-family: "Tahoma";
	font-size: 10px;
	text-align: center;
}
.header {
	font-size: small;
}
p {
	text-align:justify;
	text-indent: 1em;
}

label {
	float:right;
	width:200px;
}
form .description {
	margin-right:200px;
	font-size:10px;
}
form input, form textarea {
	background-repeat:no-repeat;
}
div input, div textarea {
	background-repeat:no-repeat;
}
textarea {
	font-size:smaller;
}
#progressBar {
	height:20px;
}
.stepItem {
	font-size:small;
	width:70px;
}
h1 {
	margin-top:0px;
	border-bottom:3px double navy;
	color:navy;
}
h1 img{vertical-align:middle;}
a {
	color:#0077FF;
	text-decoration:none;
}
a:HOVER {
	color:#1155AA;
	text-decoration:underline;
}
#body>h2,#body>h3 {
	margin-right:15px;
}
.clear{clear: both;}
.autoform input[type=text]{text-align:center;}
.autolist, .autolistprint{
	-moz-border-radius:6px;
	overflow: hidden;
	box-shadow:2px 2px 2px #bbb;
	-moz-box-shadow:2px 2px 2px #bbb;
	margin:5px;
	border:1px solid navy;
}

.autolist thead, .autolistprint thead {
	background-color:rgb(80,140,190);
	color:white;
}
.autolist-leftdata{background-color:rgb(80,140,190);}
.autolist tr:nth-child(even) td, .autolistprint tr:nth-child(even) td{
	background-color:rgb(216,233,245);
}
.autolist td, .autolist th{padding:0px 4px; border:1px solid navy;}
.autolistprint td,.autolistprint th{padding:0px 4px; border:1px solid navy;}
.autolistprint{margin-top:10px; page-break-after: always;}

hr{color:orange;}

embed.sound{margin:0; padding:0; height:0.5px;  visibility: hidden;}

/*----------------- top toolbar div ------------------*/
div#top{height:30px; overflow:hidden; margin:4px auto -1px auto; min-width:770px; width:930px; z-index: 10; display:block;}
div#top>div{ display:table-cell; height:100%; vertical-align: top;  }
div#top>div span{margin:0 7px; display:inline-block; height:100%; vertical-align: top;}
div#top>div#topright{width:30%;}
div#top>div#topleft{ width:40%;}
div#top div img{}
div#top>div#topright img.on{display:none;}
div#top>div#topleft span{margin-top:7px;}
/*-------------------T D ------------------------*/