
h1, h2, h3, h4, h5, h6{color:navy;}
div#body>h1{margin-right:0px; !important}
div#body>h2{margin-right:10px; !important}
div#body>h3{margin-right:20px;}
div#body>h4{margin-right:30px;}
div#body>h5{margin-right:40px; margin-bottom:0px; margin-top:8px;}
div#body>h6{margin-right:50px;}
div#body>h5+*{margin-right:50px;}
.helph{ color:navy;}
h2{border-bottom:2px double navy;}
