<?php

/**
* Identity
*
* Define your jFramework powered web application here. Set at least a version, a Name and a
* title for your application. Name would better follow identifier rules.
*/
reg( "app/version", "1.0" );
reg( "app/name", "CustomsReview" );
reg( "app/title", "وب مقدماتی" );
reg( "app/sherkat/title","دانشکده برق و کامپیوتر دانشگاه شهید بهشتی");


/** custom application settings
 * 
 */
reg("my/DirectDownloadLink",SiteRoot."/file/trunk/jf3.1.22.tar.gz");

reg("link/switch/url",'http://10.32.0.18:8080/Swich');
reg("link/bagher/permit",'http://10.2.16.87/customs/vehicle_permit.asmx?WSDL');
reg("link/bagher/tax",'http://10.2.16.87/customs/extrataxes.asmx?WSDL');

reg("link/Asy/Fetch",true);

define ('GateCode',"50100");
define ('GateName',"شهید رجایی");

?>